<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/head', {page_title:page_title}); %>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <%- include('../common/navbar'); %>
        <%- include('../common/sitebar'); %>
        <div class="content-wrapper">
            <div class="jumbotron">
            <h1>This is Backend</h1>
          </div>
        </div>
        <%- include('../common/footer'); %>
</div>
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</body>
</html>