<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Responsive Web -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Meta -->
    <title>Assets Detail</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/520a56b89c.js" crossorigin="anonymous"></script>
    <!-- the below three lines are a fix to get HTML5 semantic elements working in old versions of Internet Explorer-->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container-fluid page">
        <main id="MBAssets">
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <nav>
                                <ul class="assets-action">
                                    <li>
                                        <a v-on:click="onBackToParnetDirectory()"><i class="fas fa-level-up-alt"></i></a>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-upload"></i></a>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-trash"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-12">
                            <ul class="assets">
                                <li class="item" v-for="(item, index) in assets">
                                    <a v-on:click="onSelectAssets(item, index)">
                                        <img class="thumb" v-bind:src="item.thumb">
                                        <p v-text="item.name"></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <ul class="assets-button">
                                <li>
                                    <button class="btn btn-primary mt-2" v-if="button.status" v-on:click="onButtonClick()"><span><span v-text="button.txt"></span></span></button>
                                </li>
                            </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="../assets/mbDocument.js"></script>
    <script src="../assets/js/assets.js"></script>
</body>

</html>